@(game: business.game.tablero.mecanica.impl.JuegoEnTableroLineal)
@main("| Juego") {
	<div id="winnerWrapper">
		<div id="winnerPlayer"></div>
		<a class="defaultButton" href="/menu">Salir</a>
	</div>
	<div id="gameWrapper">
		<div id="gameLeftPanel" class="col-lg-3">
			<div id="gamePlayers" class="col-lg-12">
				<a class="defaultButton" id="exitButton" href="/menu"><span class="glyphicon glyphicon-home"></span></a>
				<div id="actualPlayer">
					<h1>Turno de:<span class="chatRed">@game.actual.usuario.login</span></h1>
				</div>
				<div id="gameChat">
					<h1>Chat</h1>
					<form id="chat">
						<div id="chatText">
							<!--<p><span class="chatAuthor chatRed">Ba$$ilon:</span><span class="chatMessage">Le baguette</span></p>
							<p><span class="chatAuthor chatGreen">xP3n3:</span><span class="chatMessage">Stfu you noob, buy skill and sell your skin</span></p>
							<p><span class="chatAuthor chatPurple">M4cHaC4h-GlAnd3H:</span><span class="chatMessage">I told you i main yi mid retard</span></p>
							-->
						</div>
						<div class="input-group">
							<input id="chatMessage" class="defaultInput" name="chatMessage">
							<button id="chatSendButton" class="defaultButton"><span class="glyphicon glyphicon-send"></span></button>
						</div>
					</form>
				</div>
			</div>
			<div id="gameControls" class="col-lg-12">
				<form id="gameControlsForm" method="POST" action="#">
					<div class="buttonWrapper">
						<label id="diceValue" class="col-lg-4"></label>
						<button id="moveUpButton" class="defaultButton col-lg-4"><span class="glyphicon glyphicon-menu-up"></span></button>
						<button id="throwDiceButton" class="defaultButton col-lg-4"><span class="glyphicon glyphicon-retweet"></span></button>
						<button id="moveLeftButton" class="defaultButton col-lg-4"><span class="glyphicon glyphicon-menu-left"></span></button>
						<button id="moveDownButton" class="defaultButton col-lg-4"><span class="glyphicon glyphicon-menu-down"></span></button>
						<button id="moveRightButton" class="defaultButton col-lg-4"><span class="glyphicon glyphicon-menu-right"></span></button>
					</div>
				</form>
			</div>
		</div>
		<div id="gameRightPanel" class="col-lg-9">
			<div id="gameBoard" class="col-lg-12">
				<div id="board" style="background:url('@routes.Assets.at("img/boards/linealBoard.png")') center no-repeat; background-size:contain;">
					<div class="tokenContainer" id="token@game.actual.usuario.login" data-position-x="" data-position-y="">
						<div class="caption">@game.actual.usuario.login<span class="captionRightArrow"></span></div>
						<div class="token-space-1 tokenRightArrow tokenBlank"></div>
						<div class="token-space-2 tokenLeftArrow tokenBlank"></div>
						<div class="token-space-3 tokenRightArrow tokenBlank"></div>
						<div class="token-space-4 tokenLeftArrow tokenBlank"></div>
						<div class="token-space-5 tokenRightArrow tokenBlank"></div>
						<div class="token-space-6 tokenLeftArrow tokenBlank"></div>
					</div>
	
				</div>
			</div>
			<div id="gameQuestion" class="col-lg-12">
				<form id="gameQuestionBoard" method="POST" action="#">
				<p id="gameQuestionText"></p>
				<div class="buttonWrapper">
					<button id="answer1" class="defaultButton col-lg-3"></button>
					<button id="answer2" class="defaultButton col-lg-3"></button>
					<button id="answer3" class="defaultButton col-lg-3"></button>
					<button id="answer4" class="defaultButton col-lg-3"></button>
				</div>
				</form>
			</div>
		</div>
	</div>
}