@main("| Menu") {
	<div id="menuWrapper">
		<div id="logo">
			<img src="@routes.Assets.at("img/logo.png")" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 ">
			<div class="clearfix"></div>
			<img id="spin" src="@routes.Assets.at("img/spin.png")" class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 coll-sm-offset-4 col-xs-4 col-xs-offset-4">
			<div class="clearfix"></div>
		</div>
		<nav id="menu">
			<ul>
				<li class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><a href="/createGame" class="defaultButton">Crear partida</a></li>
				<li class="col-lg-3 col-lg-offset-1point5 col-md-3 col-md-offset-1point5 col-sm-12 col-xs-12"><a href="#" class="defaultButton">Buscar partida</a></li>
				<span class="col-md-1point5 col-lg-1point5"></span>
				<li class="col-lg-3 col-lg-offset-1point5 col-md-3 col-md-offset-1point5 col-sm-12 col-xs-12"><a href="#" class="defaultButton">Salir</a></li>
				<div class="clearfix"></div>
			</ul>
		</nav>
	</div>
}