@(usuarios: List[modelo.usuario.Usuario])

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trivial 3a Menu de Administrador</title>

	<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
	<link  rel="stylesheet" href="@routes.Assets.at("stylesheets/admin.css")"> 
	<link  rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.dataTables.css")"> 
</head>
<body>

<div id="menuWrapper">
	<div class="container">
		<div id="logo">
			<img src="@routes.Assets.at("img/logo.png")" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 ">
		</div>
		
	</div>
		
	<div class="container">
    	<div class="row">
        <div class="col-md-4">
		<table class="rounded-list" id="filtro" cellspacing="0" width="100%">
			<thead>
	        <tr>
	            <th></th>
	        </tr>
	    	</thead>
			<tbody>
				@for(a <- usuarios) {
				    <tr><td><a onclick="ganadas=@a.numGanadas; jugadas=@a.numJugadas;
				    pregJugadas=@a.preguntasJugadas; pregGanadas=@a.preguntasAcertadas">@a.login</a>
				 	</td></tr>   
				 }                
			</tbody>
		</table>
		</div>
		<div  class="col-md-4" id="partidas" ></div>
		<div  class="col-md-4" id="preguntas"></div>
	</div>
	</div>
	
	
	<div class="container">
	<div>
			<nav id="menu">
				<ul>
					<li class="col-lg-3 col-lg-offset-1point5 col-md-3 col-md-offset-1point5 col-sm-12 col-xs-12">
						<a href="/salir" class="defaultButton">Salir</a>
					</li>
				</ul>
			</nav>
			</div>
		</div>
</div>
	<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery.datatables.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/filtro.js")"></script>
	<script src="@routes.Assets.at("javascripts/highcharts.js")"></script>
	<script src="@routes.Assets.at("javascripts/highcharts-more.js")"></script>
	<script src="@routes.Assets.at("javascripts/exporting.js")"></script>
	<script src="@routes.Assets.at("javascripts/estadisticasPartidas.js")"></script>
	<script src="@routes.Assets.at("javascripts/estadisticasPreguntas.js")"></script>
	
</body>
</html>
